<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/commom.css">
		<script src="../../js/jquery-2.1.0.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/rem.js"></script>
		<script src="../../js/ajax.js"></script>
		<script src="../../js/public.js"></script>
	</head>

	<body>
		<div class="mui-content">
			<div id="refreshContainer">
				<!-- <div class="mui-scroll-wrapper"> -->
					<div class="mui-slider my-lunbo">
					  <div class="mui-slider-group mui-slider-loop">
						<!--支持循环，需要重复图片节点-->
						<div class="mui-slider-item mui-slider-item-duplicate"></div>
					
						<div class="mui-slider-item mui-slider-item-duplicate"></div>
					  </div>
					    <div class="mui-slider-indicator my-lunbo-index">
							
							
						</div>
					</div>
					
					<!-- X区域滚动 -->
					<div id="slider" class="mui-slider mui-fullscreen">
						<div id="sliderSegmentedControl" class="my-scroll-x mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
							<div class="mui-scroll">
								<a class="mui-control-item mui-active" href="#item1mobile" style="display: none;">
									推荐
								</a>
							</div>
						</div>
						<div class="mui-slider-group">
							
						</div>
					</div>
			</div>
			
			
		
		</div>
		<script type="text/javascript">
			mui.init({
				options : {
				 scrollY: true, //是否竖向滚动
				 scrollX: true, //是否横向滚动
				 startX: 0, //初始化时滚动至x
				 startY: 0, //初始化时滚动至y
				 indicators: false, //是否显示滚动条
				 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				 bounce: true //是否启用回弹
				},
				pullRefresh:{
					container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					down : {
					  style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
					  color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
					  height:'50px',//可选,默认50px.下拉刷新控件的高度,
					  range:'100px', //可选 默认100px,控件可下拉拖拽的范围
					  offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
					  auto: false,//可选,默认false.首次加载自动上拉刷新一次
					  callback :Downpull //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					},
					up : {
					  height:50,//可选.默认50.触发上拉加载拖动距离
					  auto:false,//可选,默认false.自动上拉加载一次
					  contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
					  contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
					  callback :Uppull //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				},
				 
   
  
  
			})
			setTimeout(function(){
				var gallery = mui('.my-lunbo');
				gallery.slider({
					 interval:3000//自动轮播周期，若为0则不自动播放，默认为0；
				});
			},300)
			function Downpull(){
				
				setTimeout(function(){
					mui('#refreshContainer').pullRefresh().endPulldown();
					alert('刷新了')
				},1500)
				
			}
			function Uppull(index){
				index = $('.my-scroll-x .mui-scroll a.mui-active').index()
				var _this = this;
				setTimeout(function(){
					_this.endPullupToRefresh(true);
				},1500)
				alert('上啦了')
			}
			
			mui.ajax('http://www.token5china.com:18080/wx/home/index',{
				data:'',
				dataType:'json',//服务器返回json格式数据
				type:'get',//HTTP请求类型
				timeout:10000,//超时时间设置为10秒；
				headers:{'Content-Type':'application/x-www-form-urlencoded'},	              
				//服务器返回响应，根据响应结果，分析是否登录成功；
				success:function(res){
					var nav='',navBox='';
					console.log('res',res)
					var banner = '',bannerFirst ='',bannerLast = '',bannerIndex = '';
					var nav = '',navList = ''; 
					/*获取 轮播数据*/
					for(var i=0; i<res.data.banner.length;i++){
						bannerFirst='<div class="mui-slider-item mui-slider-item-duplicate">'+
										'<a href="#"><img src="'+res.data.banner[res.data.banner.length-1].url+'" /></a>'+
									'</div>';
						bannerLast='<div class="mui-slider-item mui-slider-item-duplicate">'+
										'<a href="#"><img src="'+res.data.banner[0].url+'" /></a>'+
									'</div>';			
						banner+='<div class="mui-slider-item"><a href="#"><img src="'+res.data.banner[i].url+'" /></a></div>';
						bannerIndex+='<div class="mui-indicator"></div>'
					}
					$('.my-lunbo .mui-slider-group').html(bannerFirst+banner+bannerLast)
					
					/*获取nav 数据*/
							for(var i=0; i<res.data.floorGoodsList.length;i++){
						nav+='<a class="mui-control-item" href="#item'+i+'" nav-id="'+res.data.floorGoodsList[i].id+'">'+res.data.floorGoodsList[i].name+'</a>'
						navBox+='<div id="item'+i+'" class="mui-slider-item mui-control-content">'+
									'<div  class="mui-scroll-wrapper">'+
										'<div class="mui-scroll">'+
											'<ul class="mui-table-view">'+
												
											'</ul>'+
										'</div>'+
									'</div>'+
								'</div>';
					}
					$('#slider #sliderSegmentedControl .mui-scroll').html(nav)
					$('#slider #sliderSegmentedControl .mui-scroll>a').eq(0).addClass('mui-active')
					$('#slider .mui-slider-group #item0').addClass('mui-active')
					$('#slider .mui-slider-group').html(navBox)
					getGoodList()
				},
				
				error:function(xhr,type,errorThrown){
					//异常处理；
					console.log(type);
				}
			});
			
			function getGoodList(){
				var categoryId = $('#sliderSegmentedControl .mui-scroll a.mui-control-item').eq(0).attr('nav-id');
				var goodList = '';
				mui.ajax('http://www.token5china.com:18080/wx/goods/list',{
					data:{categoryId:categoryId,
					page:1,
					size:10},
					dataType:'json',//服务器返回json格式数据
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{'Content-Type':'application/x-www-form-urlencoded'},	 
					success:function(res){
						console.log('商品-111-List',res)
						
						for(var i=0; i<res.data.goodsList.length; i++){
							goodList+='<li class="mui-table-view-cell">'+
											'<span>'+res.data.goodsList[i].name+'</span>'
									'</li>'
						}
						$('#slider .mui-slider-group .mui-control-content').eq(0).find('.mui-table-view').html(goodList);
						
					}
				})
			}
			
			
			document.getElementById("slider").addEventListener("slide",function(e){
				
				var categoryId = $('#sliderSegmentedControl .mui-scroll a.mui-control-item').eq(e.detail.slideNumber).attr('nav-id');
				var goodList = '';
				mui.ajax('http://www.token5china.com:18080/wx/goods/list',{
					data:{categoryId:categoryId,
					page:1,
					size:10},
					dataType:'json',//服务器返回json格式数据
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					headers:{'Content-Type':'application/x-www-form-urlencoded'},	 
					success:function(res){
						console.log('商品List',res)
						
						for(var i=0; i<res.data.goodsList.length; i++){
							goodList+='<li class="mui-table-view-cell">'+
											'<span>'+res.data.goodsList[i].name+'</span>'
									'</li>'
						}
						$('#slider .mui-slider-group .mui-control-content').eq(e.detail.slideNumber).find('.mui-table-view').html(goodList);
						
					}
				})
				
			});
			
			/*获取首页的数据*/
			function getAjax(){
				ajax(homeList,{},function(res){
					console.log('请求的数据',res)
					var banner = '',bannerFirst ='',bannerLast = '',bannerIndex = '';
					
					/*获取 轮播数据*/
					for(var i=0; i<res.data.banner.length;i++){
						bannerFirst='<div class="mui-slider-item mui-slider-item-duplicate">'+
										'<a href="#"><img src="'+res.data.banner[res.data.banner.length-1].url+'" /></a>'+
									'</div>';
						bannerLast='<div class="mui-slider-item mui-slider-item-duplicate">'+
										'<a href="#"><img src="'+res.data.banner[0].url+'" /></a>'+
									'</div>';			
						banner+='<div class="mui-slider-item"><a href="#"><img src="'+res.data.banner[i].url+'" /></a></div>';
						bannerIndex+='<div class="mui-indicator"></div>'
					}
					$('.my-lunbo .mui-slider-group').html(bannerFirst+banner+bannerLast)
					$('.my-lunbo-index').html(bannerIndex);
					$('.my-lunbo-index >div').eq(0).addClass('mui-active')
					
				
					
					
				})
			}
			getAjax()
			
			//结束下拉刷新
// 			function DownEnd() {
// 				 //业务逻辑代码，比如通过ajax从服务器获取新数据；
// 				 ......
// 				 //注意，加载完新数据后，必须执行如下代码，注意：若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
// 				 //没有更多内容了，endPulldown 传入true， 不再执行下拉刷新
// 				 // mui('#refreshContainer').pullRefresh().endPulldown();
// 			}
		
			
			//监听 my-scroll-x 滚动
			$(document).scroll(function() {
		        var scroH = $(document).scrollTop();  //滚动高度
				var contentH = $('.my-lunbo').height();  //内容高度
		        if(scroH >=contentH){  //距离顶部大于100px时
					console.log('到了')
					$('.my-scroll-x').addClass('navFixed')
					$('.my-list-box').css({marginTop:'2rem'})
		        }else{
					$('.my-scroll-x').removeClass('navFixed')
					$('.my-list-box').css({marginTop:'0'})
				}
			})
			
		
			
			// 父页面自定义页面刷新事件 
			window.addEventListener("myRefresh", function (e) {
			    // 重新获取数据或触发刷新
			    // plus.webview.currentWebview().reload();
//			     location.reload();  

			});
			
			mui('.mui-scroll-wrapper').scroll({
				indicators:false,
				deceleration: 0.0006,//flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
			});
	
			mui('body').on('tap', '.mui-table-view-cell a', function(e) {
//				参数title
				var title =this.getAttribute('title');
				var dataid = this.getAttribute('data-id');
//				alert(id)
				mui.openWindow({
					url: "sub1_chat.html",
					id: 'sub1_chat.page',
					style: {},
					//传值
					extras:{
						title:title,
						propsid:dataid
					},
					show: {
						autoShow: true,
						aniShow: "slide-in-right",
						duration:250
					},
					
					waiting: {
						autoShow: true,
						title: "正在加载...",
						options: {
//							width:"200",
//							height:"200"
						}
					}
				})
			})
		
			
			//刷新事件
//			window.addEventListener('refresh',function(){
//				location.reload();
//			});
		</script>
		
		<style>
			body{
				touch-action: none;	
			}
			.my-lunbo{
					height: 10rem;
					
			}
			.my-scroll-x{
				height: 2rem;
				background: red;
			}
			
			.navFixed{
				position: fixed;
				top:0;
				left:0;
				z-index:99;
			}
			
			
			li{
					height: 100px;
			}
			
			
			
			
			
		</style>
	</body>

</html>