<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>list</title>
		
	</head>
	<body>
		<div>
			sss
		</div>
		<ul class="menu-ul">
			<li class="index"><a href="javascript:void(0);" class="index">首页</a></li>
                    <li class="pro"><a href="javascript:void(0);" class="pro">产品</a></li>
                    <li>
                        <a href="javascript:return false;" onclick="return false;" style="cursor: pointer;"
                           class="solu">解决方案</a>
                        <ul class="menu-ul-ul" id="solu-menu-ul">
                            <!--<li><a href="solution.html" class="solu">智慧城市</a></li>
                            <li><a href="#" class="park">智慧园区</a></li>
                            <li><a href="#" class="flo">智慧楼宇</a></li>
                            <li><a href="#">智慧农业</a></li>
                            <li><a href="#">智慧制造</a></li>
                            <li><a href="#">创新行业</a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:return false;" onclick="return false;" style="cursor: pointer;"
                           class="case">合作与案例</a>
                        <ul class="menu-ul-ul">
                            <li><a href="javascript:return false;">成功案例</a></li>
                            <li><a href="javascript:return false;">合作伙伴</a></li>
                        </ul>
                    </li>
                    <li class="server_suppo"><a href="javascript:return false;" class="server_suppo">服务与支持</a></li>
                    <li>
                        <a href="javascript:return false;" onclick="return false;" style="cursor: pointer;"
                           class="about_us">关于我们</a>
                        <ul class="menu-ul-ul">
                            <li><a href="javascript:return false;">公司介绍</a></li>
                            <li><a href="javascript:return false;">新闻动态</a></li>
                            <li><a href="javascript:return false;">加入我们</a></li>
                        </ul>
                    </li>
			
		</ul>
		
		<script type="text/javascript">
			$(function(){
				console.log('jquery')
			})
		</script>
	</body>
</html>
